; Private configuration file for Xiao S3 WIO
; Copy this file to platformio.private.ini and fill in your actual values
; This file should NOT be committed to git

[env:Xiao_S3_WIO_room_server_mqtt]
extends = env:Xiao_S3_WIO_room_server_mqtt_base
build_flags =
  ${env:Xiao_S3_WIO_room_server_mqtt_base.build_flags}
  -D WIFI_SSID='"YOUR_WIFI_SSID"'
  -D WIFI_PWD='"YOUR_WIFI_PASSWORD"'
  -D MQTT_BROKER='"YOUR_MQTT_BROKER_IP"'
  -D MQTT_PORT=1883
  -D ADMIN_PASSWORD='"YOUR_ADMIN_PASSWORD"'
  -D ROOM_PASSWORD='"YOUR_ROOM_PASSWORD"'
;  -D MQTT_USER='"YOUR_MQTT_USERNAME"'
;  -D MQTT_PASS='"YOUR_MQTT_PASSWORD"'

