; Private configuration file for Xiao S3 WIO
; Copy this file to platformio.private.ini and fill in your actual values
; This file should NOT be committed to git

[env:Xiao_S3_WIO_room_server_mqtt]
extends = env:Xiao_S3_WIO_room_server_mqtt_base
build_flags =
  ${env:Xiao_S3_WIO_room_server_mqtt_base.build_flags}
  -D WIFI_SSID='"MyWiFiNetwork"'
  -D WIFI_PWD='"MySecurePassword123"'
  -D MQTT_BROKER='"192.168.1.100"'
  -D MQTT_PORT=1883
  -D ADMIN_PASSWORD='"admin123"'
  -D ROOM_PASSWORD='"room456"'
;  -D MQTT_USER='"mqtt_user"'
;  -D MQTT_PASS='"mqtt_password"'

[env:Xiao_S3_WIO_companion_radio_deep_sleep]
extends = env:Xiao_S3_WIO_companion_radio_deep_sleep_base
build_flags =
  ${env:Xiao_S3_WIO_companion_radio_deep_sleep_base.build_flags}
  ; Sensor channel configuration (private)
  -D SENSOR_CHANNEL_NAME='"my-sensor-channel"'
  -D SENSOR_CHANNEL_PSK='"aBcDeFgHiJkLmNoPqRsTuVwXyZ123456=="'

[env:Xiao_S3_WIO_sensor_deep_sleep]
extends = env:Xiao_S3_WIO_sensor_deep_sleep_base
build_flags =
  ${env:Xiao_S3_WIO_sensor_deep_sleep_base.build_flags}
  ; Sensor channel configuration (private)
  -D SENSOR_CHANNEL_NAME='"my-sensor-channel"'
  -D SENSOR_CHANNEL_PSK='"aBcDeFgHiJkLmNoPqRsTuVwXyZ123456=="'

